<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>GeoQuest</title>
        <link rel="stylesheet" href="master.css">
    </head>
    <body>
      <div class="header">
          <h1>GeoQuest</h1>
          <h2>Connecting people to their local environment!</h2>
          <div class="navigation clearfix">
              <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">NearBy</a></li>
                  <li><a href="#">GroupMe</a></li>
                  <li><a href="#">QuestBrydge</a></li>
                  <li><a href="#">Contact</a></li>
              </ul>
          </div>
      </div>
      <div class="container">
          <div class="main-content">
              <div class="intro">
                  <h2>Connect - Discover - Learn</h2>
                      <p>
                        Have you ever wanted to learn more about the environment you live in? The stores aroun you.
                        What lurks behind the street corners? Well now you can. Introducing GeoQuest, the new way
                        to explore the world around you. No matter where you go, GeoQuest connects you with local tenants and
                        past explorers to help your journey. The app is tailored to your preference, favorites and enviornment.
                        Sign up to get started!
                      </p>
              </div>
              <div class="quickBar">
                  <div class="quickAccess">
                      <h3>Quest Search</h3>
                      <p>

                      </p>
                  </div>
                  <div class="quickAccess">
                      <h3>Recent Groups</h3>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          Tempore delectus minus rerum.
                      </p>
                  </div>
                  <div class="quickAccess">
                      <h3>Local Map</h3>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          Assumenda error repellendus ut odit.
                      </p>
                  </div>
              </div>

          </div>
          <div class="sidebar">
              <div class="logIn">
                  <h2>Log In</h2>
                  <form class="log" action="index.html" method="post">
                    Username : <input type="text" size="20px" name="username" /><br>
                    Password : <input type="text" size="20px" name="password" /><br>
                  </form>
              </div>
              <div class="signUp">
                  <h3>Sign Up Now!</h3>
              </div>
          </div>
      </div>
      <div class="footer">
          <div class="contact-information">
              <h2>Contact Information</h2>
              <div class="address">
                  123 4th Street<br/>
                  Podunk, TX, 77777
              </div>
          </div>
      </div>

    </body>
</html>
